    <mxCell id="{{ id }}" style="edgeStyle=none;html=1;rounded=0;" edge="1" parent="1" source="{{ source_id }}">
      <mxGeometry relative="1" as="geometry">
        <mxPoint x="{{ target_x }}" y="{{ target_y }}" as="targetPoint" />
        <Array as="points">
          <mxPoint x="{{ turn_x }}" y="{{ source_y }}" />
          <mxPoint x="{{ turn_x }}" y="{{ target_y }}" />
        </Array>
      </mxGeometry>
    </mxCell>