    <mxCell id="{{ id }}" style="edgeStyle=none;rounded=0;html=1;exitX=0.5;exitY=1;exitDx=0;exitDy=0;" parent="1" source="{{ source_id }}" edge="1">
      <mxGeometry relative="1" as="geometry">
        <mxPoint x="{{ target_x }}" y="{{ target_y }}" as="targetPoint" />
        <Array as="points">
          <mxPoint x="{{ (target_x) + 40 * 7 }}" y="{{ target_y }}" />
        </Array>
      </mxGeometry>
    </mxCell>