    <mxCell id="{{ id }}" value="end" style="html=1;dashed=0;whitespace=wrap;shape=mxgraph.dfd.start" vertex="1" parent="1">
      <mxGeometry x="160" y="{{ y }}" width="160" height="40" as="geometry" />
    </mxCell>
  </root>
</mxGraphModel>