    <mxCell id="{{ id }}" value="{{ text }}" style="shape=trapezoid;perimeter=trapezoidPerimeter;whiteSpace=wrap;html=1;fixedSize=1;size=40;flipV=1;" vertex="1" parent="1">
      <mxGeometry x="{{ x }}" y="{{ y }}" width="240" height="40" as="geometry" />
    </mxCell>