    <mxCell id="{{ id }}" value="{{ text }}" style="rhombus;whiteSpace=wrap;html=1;" vertex="1" parent="1">
      <mxGeometry x="{{ x }}" y="{{ y }}" width="240" height="80" as="geometry" />
    </mxCell>
    <mxCell id="{{ id + 1 }}" value="Yes" style="text;strokeColor=none;align=center;fillColor=none;html=1;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
      <mxGeometry x="{{ x + 70 }}" y="{{ y + 80 }}" width="60" height="30" as="geometry" />
    </mxCell>
    <mxCell id="{{ id + 2 }}" value="No" style="text;strokeColor=none;align=center;fillColor=none;html=1;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
      <mxGeometry x="{{ x + 220 }}" y="{{ y + 10 }}" width="60" height="30" as="geometry" />
    </mxCell>