    <mxCell id="{{ id }}" value="{{ text }}" style="rhombus;whiteSpace=wrap;html=1;" vertex="1" parent="1">
      <mxGeometry x="{{ x }}" y="{{ y }}" width="240" height="80" as="geometry" />
    </mxCell>