    <mxCell id="{{ id }}" value="{{ text }}" style="html=1;dashed=0;whitespace=wrap;" vertex="1" parent="1">
      <mxGeometry x="{{ x }}" y="{{ y }}" width="240" height="40" as="geometry" />
    </mxCell>